{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block body %}

    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <h1>{{ title }}</h1>
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success mt-3">{{ title }}</button>
                </form>



            </div>
        </div>
    </div>




{% endblock %}